/* @media screen and (min-width: 550 px) {}

@media screen and (min-width: 700 px) {}

@media screen and (min-width: 900 px) {} */

body {
    font-family: Roboto;
    color: #424242;
}

.topcard div {
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
    z-index: -1;

}

.content {
    position: absolute;
    top: 39%;
    background: #ccd5cc;
    margin: -40px 160px;
    z-index: 1;
    left: 20%;
    opacity: 0.86;

}

.headertext {
    width: 85%;
    margin-left: 3.5em;
}

.header_title {
    font-size: 1.55em;
    margin: 5px;
    color: #495159;
    letter-spacing: -0.05em;
    text-transform: uppercase;
}

main span {
    font-weight: 40;
    margin-left: 0.05em;
    color: #495159;
    text-transform: uppercase;
}

.small {
    font-weight: 70;
    float: left;
    margin-right: 0.5em;
}

.inside {
    background-color: white;
    width: 100%;
}

nav {
    width: 100%;
    overflow: auto;
    top: 0;
    left: 0;

}

.verticalline {
    border-left: 2px solid #495159;
    margin: 5px;
}

nav ul {
    list-style-type: none;
    overflow: hidden;
    margin: 5px;
    padding: 5px;
    overflow: hidden;
    font-size: 1.05em;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-right: 1em;
}

nav li {
    display: block;
}

nav li a:hover {
    background-color: #F6B444;
}

.rightbuttons {
    font-size: 10px;
    float: left;
    margin-right: 1px;
    background-color: #ffffff;
    color: #888888;
    width: 20px;
    text-align: center;
    height: 16px;
}

.bgtext {
    display: block;
    z-index: -1;

    background-image: url("assets/gridTileBg.png");
    background-repeat: repeat;
    background-clip: border-box;
    background-origin: border-box;

}

.bgtext p {
    font-size: 300px;
    color: #aabad8;
    letter-spacing: -10px;
}

#one {
    margin-top: 10%;
    margin-left: 10%;
}

#two {
    margin-top: -50%;
    margin-left: 40%;
}

.navBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;

}

.navBar li {
    float: left;
}

.navBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navBar li a:hover {
    background-color: #111;
  }

.secondCard {
    background-color: #F6B444;
}

.reveal {
    position: relative;
    opacity: 0;
  }

.reveal.active {
    opacity: 1;
  }

.active.fade-right {
    animation: fade-right 1s ease-in;
  }

.active.fade-bottom {
    animation: fade-bottom 5s ease-in; 
    /* PROBABLY CHANGE THIS LATER SINCE THIS IS CURRENTLY USED WITH PLACEHOLDER */
  }

@keyframes fade-bottom {
    0% {
      transform: translateY(50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

@keyframes fade-right {
    0% {
      transform: translateX(100px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

.side {
    display: block;
    position: absolute;
}

.side img {
    display: flex;
    margin-left: -65%;
    margin-top: -25%;
    width: 1280px;
    z-index: -1;
}
