/* MIN WIDTH 900PX */

@media screen and (min-width: 900px) {
  .content {
    position: absolute;
    top: 39%;
    background: #ccd5cc;
    margin: -40px 160px;
    z-index: 1;
    left: 20%;
    opacity: 0.86;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
  }



}


/* MIN WIDTH 700PX */

@media screen and (min-width: 700px) {
  .hero {
      order: 0;
      width: 60%;
  }
  .weather {
      order: 1;
      width: 40%;
  }
}


/* MIN WIDTH 550PX */

@media screen and (max-width: 550px) {
  .content {
    background: #ccd5cc;

  }

}
